@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Coders";
}
<main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">

    <div class="max-w-3xl p-6 mx-auto">

        <!-- heading title -->
        <div class="page__heading">
            <a href="#">
                <ion-icon name="chevron-back-outline"></ion-icon> Back
            </a>
            <h1> Peaples</h1>
        </div>

        <!-- tabs -->

        <nav class="border-b dark:border-slate-700" uk-sticky="cls-active: bg-slate-100/60 z-30 backdrop-blur-lg px-4 ;  animation: uk-animation-slide-top">

            <ul uk-tab class="flex gap-5 text-sm text-center text-gray-600 capitalize font-semibold -mb-px dark:text-white/80"
                uk-switcher="connect: #ttabs ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">

                <li> <a href="#" class="inline-block py-5 border-b-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"> followers 2,640 </a> </li>
                <li> <a href="#" class="inline-block py-5 border-b-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"> following 1,420 </a> </li>
                <li> <a href="#" class="inline-block py-5 border-b-2 border-transparent aria-expanded:text-black aria-expanded:border-black aria-expanded:dark:text-white aria-expanded:dark:border-white"> Suggestions </a> </li>

            </ul>
        </nav>

        <div class="uk-switcher mt-10" id="ttabs">


            <!-- list  One -->
            <div>

                <div class="grid sm:grid-cols-2 gap-2 mt-5 mb-2 text-xs font-normal text-gray-500 dark:text-white/80" uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 100">
                    @foreach (var user in Model)
                    {
                        <div class="bg-white flex gap-4 items-center flex-wrap justify-between p-5 rounded-lg shadow-sm border1 dark:bg-dark2">
                            <a asp-controller="Home" asp-action="Profile" asp-route-id="@user.Id">
                                @if (string.IsNullOrEmpty(user.ProfileImage))
                                {
                                    <img src="../images/default-coder-profile.jpg" alt="" class="h-full object-cover rounded-full shadow w-full">
                                }
                                else
                                {
                                    <img src="@user.ProfileImage" alt="" class="rounded-full lg:w-16 lg:h-16 w-10 h-10">
                                }
                            </a>
                            <div class="flex-1">
                                <a href="profile.html"><h4 class="font-semibold text-sm text-black dark:text-white">  @user.FullName </h4> </a>
                                <div class="mt-0.5"> 16K following </div>
                            </div>
                            <button type="button" class="button bg-secondery rounded-full py-1.5 font-semibold">Fallow</button>
                        </div>
                    }
                </div>

                <div class="flex justify-center my-10">
                    <button type="button" class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2">Load more...</button>
                </div>

            </div>


            <!-- list Two -->
            <div>

                <div class="space-y-6 text-sm font-normal text-gray-500" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-small; delay: 100 ">
                    @foreach (var user in Model)
                    {
                        <div class="flex items-center justify-between gap-4">
                            <a asp-controller="Home" asp-action="Profile" asp-route-id="@user.Id">
                                <div class="relative w-12 h-12">
                                    @if (string.IsNullOrEmpty(user.ProfileImage))
                                    {
                                        <img src="../images/default-coder-profile.jpg" alt="" class="h-full object-cover rounded-full shadow w-full">
                                    }
                                    else
                                    {
                                        <img src="@user.ProfileImage" class="object-cover w-full h-full rounded-full" alt="">
                                    }
                                </div>
                            </a>
                            <div class="flex-1">
                                <a asp-controller="Home" asp-action="Profile" asp-route-id="@user.Id"> <h4 class="text-base font-medium text-black dark:text-white"> @user.FullName </h4> </a>
                                <p class="mt-0.5"> 15k following </p>
                            </div>
                            <div class="flex gap-3">
                                <button type="button" class="button bg-primary-soft text-primary border border-primary/10 dark:bg-slate-700 dark:border-slate-600 dark:text-white"> <span class="max-md:hidden">Following</span>  </button>
                                <button type="button" class="text-white bg-primary button"> <span class="max-md:hidden"> Message </span> </button>
                            </div>
                        </div>
                    }
                </div>

                <div class="flex justify-center my-10">
                    <button type="button" class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2">Load more...</button>
                </div>

            </div>


            <!-- list Three -->
            <div>

                <div class="grid lg:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-4 text-xs font-normal text-gray-500 dark:text-white/80" uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 100">
                    @foreach (var user in Model)
                    {
                        <div class="flex flex-col items-center shadow-sm p-2 rounded-xl bg-white border1 dark:bg-dark2">
                            <a asp-controller="Home" asp-action="Profile" asp-route-id="@user.Id">
                                <div class="relative w-20 h-20 mx-auto mt-3">
                                    @if (string.IsNullOrEmpty(user.ProfileImage))
                                    {
                                        <img src="../images/default-coder-profile.jpg" alt="" class="h-full object-cover rounded-full shadow w-full">
                                    }
                                    else
                                    {
                                        <img src="~@user.ProfileImage" alt="" class="h-full object-cover rounded-full shadow w-full">
                                    }
                                </div>
                            </a>
                            <div class="mt-5 text-center w-full">
                                <a asp-controller="Home" asp-action="Profile" asp-route-id="@user.Id"> <h4 class="font-semibold text-sm text-black dark:text-white"> @user.FullName</h4> </a>
                                <div class="mt-1"> 15K Followers</div>
                                <button type="button" class="block font-semibold mt-4 py-1.5 rounded-lg text-[13px] w-full bg-slate-100/70 dark:bg-slate-700"> Follow </button>
                            </div>
                        </div>
                    }
                </div>

                <div class="flex justify-center my-10">
                    <button type="button" class="bg-white py-2 px-5 rounded-full shadow-md font-semibold text-sm dark:bg-dark2">Load more...</button>
                </div>

            </div>




        </div>


    </div>


</main>